---
layout: default
title: Home
shownav: true
---


<section class="selected-writing">
  <h2>Selected Writing</h2>
  <h3>“Write drunk, edit sober” &#8212; Ernest Hemingway</h3>
  <br>
{% for post in site.categories.blog limit:3 %}

      <span class="pontuation">❝</span><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
      <br>
      <small>{{ post.date | date_to_string }}</small>
      <br>
      <br>

{% endfor %}

  

</section>
<a href="{{ site.url }}/writing">More</a>
</span>

<br>
<br>
<br>

<section class="selected-works">
  <h2>Selected Stories</h2>
  <h3>About startups, people and side projects I had the pleasure to work on.</h3>
  <br>


  {% for work in site.data.works %}
  <a style="border: transparent 0px;" href="{{ work.url }}" target="_blank"><img style="margin-bottom:10px;" src="{{ work.image }}"></a><br>

  <span class="pontuation">❝</span><a href="{{ work.url }}" target="_blank">{{ work.title }}</a>
  <br>
  <small>{{ work.role }}, {{ work.date }}</small>
  <br>
  <br>
  <br>
  {% endfor %}


</section>

<!-- <a href="/works">More</a> -->



