  {% include header.html %}

  <body class="animated fadeIn">



    
    <!-- <img class="profile" src="{{ site.baseurl }}/public/images/profile-photo.jpg"> -->
    <!-- <div class="article-header" style="background: url("{{ page.bg }}") no-repeat center center fixed;"> -->

    
    <!-- <span><a class="back" href="#" onclick="window.history.back();return false;">Back</a></span> -->


    </div>
      <!-- <span style="clear:both;"></span> -->
    <div class="container content">

        {{ content }}

    {% include footer.html %}
    </div>

  </body>
</html>
