{% include header.html %}


<body class="animated fadeIn">
<div class="container content">
<header class="masthead" style="background-image: url(https://s3.amazonaws.com/brunomarinho/assets/profile-photo.jpg);">

    <!-- Navigation Loop -->
    {% include nav.html %}

    <div class="dot"></div>
    <h1 class="big-serif">Bruno<br>Marinho</h1>
    <h2 class="small-sans"><a href="{{ site.url }}/about">is</a> a designer helping companies to build<br>
      better products to their users. Currently<br>
      disrupting the future of crowdfunding at <a href="http://www.trycelery.com" target="_blank">Celery</a>.</h2>

</header>

{{ content }}

{% include footer.html %}

</body>


</html>
